{% extends 'ParroquiaCertificadoBundle::sacramento_edit.html.twig' %}

{% set nombre_sacramento = 'Matrimonio' %}
{% set path_sacramento = 'matrimonio' %}

{% block personas %}
    {{ form_row(edit_form.conyuge1) }}
    {{ form_row(edit_form.conyuge2) }}
{% endblock %}

{% block otros %}
    {{ form_row(edit_form.inscripcion_civil) }}
    {{ form_row(edit_form.fecha_civil) }}
{% endblock %}

{% block collections %}
        <div class="collection">
            <label>Padrinos</label>
            <ul class="padrinos" data-prototype="{{ form_widget(edit_form.matrimonios_padrinos.vars.prototype)|e }}">                
                {% for padrino in edit_form.matrimonios_padrinos %}
                    <li><div>{{ form_row(padrino.padrino) }}</div></li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="collection">
            <label>Celebrantes</label>
            <ul class="celebrantes" data-prototype="{{ form_widget(edit_form.matrimonios_celebrantes.vars.prototype)|e }}">                
                {% for celebrante in edit_form.matrimonios_celebrantes %}
                    <li><div>{{ form_row(celebrante.celebrante) }}</div></li>
                {% endfor %}
            </ul>
        </div>    

        <div class="collection">
            <label>Catequistas</label>
            <ul class="catequistas" data-prototype="{{ form_widget(edit_form.matrimonios_catequistas.vars.prototype)|e }}">                
                {% for catequista in edit_form.matrimonios_catequistas %}
                    <li><div>{{ form_row(catequista.catequista) }}</div></li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="collection">
            <label>Testigos</label>
            <ul class="testigos" data-prototype="{{ form_widget(edit_form.matrimonios_testigos.vars.prototype)|e }}">                
                {% for testigo in edit_form.matrimonios_testigos %}
                    <li><div>{{ form_row(testigo.testigo) }}</div></li>
                {% endfor %}
            </ul>
        </div>    
{% endblock %}
