{% extends '::base.html.twig' %}

{% set menu_title %}
<i class="icon-gift icon-white"></i> Cumpleaños
{% endset %}

{% block leftsidebar %}
    {{ render(controller('ParroquiaHomeBundle:Default:cumpleanos')) }}
{% endblock %}

{% block filters %}
    <div class="page-side-list-title"><i class="icon-calendar icon-white"></i>Eventos</div>
    <div class="page-side-list">
        <div id="loading" style="display: none;"><img src="{{ asset('images/loading.gif') }}" />Cargando ...</div>
        <div id="calendar"></div>
    </div>
    <div class="page-side-list-title"><i class="icon-th-list icon-white"></i>Notificaciones</div>
    <div class="page-side-list">
        {{ render(controller('ParroquiaHomeBundle:Default:notificaciones')) }}            
    </div>    
{% endblock %}

{% block body -%}
<div class="title-wrapper"><h1>Bienvenido</h1></div>

<div class="home-section">
    <h2>Comunidad</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac luctus erat, quis posuere mi. Nulla tincidunt risus consectetur, sollicitudin neque quis, luctus dui. Integer ac justo ultrices, pretium leo semper, placerat felis. Mauris semper volutpat augue. Sed pharetra ante felis, eget egestas lacus volutpat eu. Nam nulla magna, gravida at ante quis, tincidunt tincidunt magna. Nulla nec sodales eros, at tempor enim. Sed at tellus dictum, vehicula eros eu, blandit turpis.</p>
    <div class="options">
        {{ knp_menu_render(['main','Comunidad'], { 'depth' : 1 }) }}
    </div>    
</div>

<div class="home-section">
    <h2>Certificados</h2>
    <p>Vestibulum eu iaculis enim. Maecenas eget mollis erat. Suspendisse id velit et turpis tempor imperdiet. Vestibulum eu leo libero. Proin pulvinar tellus nunc, vitae posuere tortor adipiscing et. Suspendisse convallis odio quis augue pretium, non rutrum turpis posuere. Vivamus facilisis quis elit non vestibulum. Proin malesuada dui nec est dapibus consequat. Nam et venenatis justo. Cras malesuada condimentum sapien vel tempor. Integer facilisis porttitor mauris, id facilisis odio egestas et.</p>
    <div class="options">
    {{ knp_menu_render(['main','Certificados_less'], { 'depth' : 1 }) }}
    </div> 
</div>

<div class="home-section">
    <h2>Correo</h2>
    <p>Donec ut dictum tortor. Proin dapibus mollis pharetra. Sed hendrerit faucibus consequat. Fusce luctus tristique lectus, elementum accumsan lorem congue vel. Duis nec diam est. Nullam interdum sodales neque sit amet suscipit. Maecenas non interdum ligula. Morbi rutrum porta nisi, et aliquet dui egestas quis. Curabitur nunc leo, commodo in feugiat dignissim, hendrerit vel mauris. Nunc varius laoreet blandit. Maecenas at interdum nunc. Pellentesque in tristique mi.</p>
    <div class="options">
        {{ knp_menu_render(['main','Correo'], { 'depth' : 1 }) }}
    </div>     
</div>

<div class="home-section">
    <h2>Calendario</h2>
    <p>Donec quis nisl condimentum, ornare nisl in, semper purus. Morbi quis eros quis diam egestas ornare. Phasellus ac purus et nisl tempor hendrerit. Morbi purus justo, euismod nec elit a, elementum ultricies metus. Nam interdum ante et lorem scelerisque placerat. Nunc sit amet tellus enim. Etiam tincidunt porta velit blandit rutrum. Quisque tempus tristique vulputate. Aenean vitae varius velit. Aenean non vestibulum purus. Mauris in orci a sapien dictum aliquam.</p>
    <div class="options">
        {{ knp_menu_render(['main','Calendario'], { 'depth' : 1 }) }}
    </div>     
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}">
<link rel="stylesheet" href="{{ asset('css/fullcalendar-mini.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/fullcalendar.js') }}"></script>

<script>
    $(document).ready(function() {
        
        var options = {
            firstDay: 1,
            theme: true,
            header: {
                 left: 'prev,next today',
                 center: 'title',
                 right: 'month,agendaWeek,agendaDay'
            },
            timeFormat: {
                 agenda: 'HH:mm{ - HH:mm}',
                 '': 'HH:mm{-HH:mm }'
            },
            monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ], 
            monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
            dayNames: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'],
            buttonText: {
                 today: 'hoy',
                 month: 'mes',
                 week: 'sem',
                 day: 'día'
            },
            allDayText: 'día',            
            events: { url: "{{ path('parroquia_agenda_eventos',{'show':true}) }}" },
            eventMouseover: function(event, jsEvent, view) {
                if (view.name !== 'agendaDay') {
                    $(jsEvent.target).attr('title', event.title);
                }
            },            
            editable : false,
            selectable: true,
            selectHelper: true,
            loading: function(bool) {
                if (bool) {$('#loading').show(); $('.fc-day-content').addClass('shrink');}
                else {$('.fc-day-content').removeClass('shrink'); $('#loading').hide();}
            }
        };        

        $('#calendar').fullCalendar(options);
    });
</script>
{% endblock %}