{% extends 'form_div_layout.html.twig' %}
{#
{% block form_label %}
    {{ parent() }}

    {% if required %}
        <span class="required" title="Este campo es requerido">*</span>
    {% endif %}
{% endblock %}
#}        

{# Escribe un * en campo requerido #}
{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if required %}<span class="required" title="Este campo es requerido">*</span>{% endif %}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# Escribe class="checkbox-group" en conjunto de checkboxes y div con class="checkboxitem" #}
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} {% if multiple %}class="checkbox-group"{% endif %}>
    {% for child in form %}
        <div {% if multiple %}class="checkbox-item"{% endif %}>
        {{ form_widget(child) }}
        {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}        