{% extends '::base.html.twig' %}

{% set menu_title = 'Certificados' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Certificados']) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>{{ nombre_sacramento }}</h1></div>

    {% include('ParroquiaCertificadoBundle:' ~ folder_sacramento ~ ':show_content.html.twig') with { 'entity' : entity } %}
    
    <ul class="record_actions">
        <li>
            <a href="{{ path(path_sacramento) }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path(path_sacramento ~ '_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
