<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Parroquia Santa Teresa de Los Andes{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/screen.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-custom.css') }}" type="text/css" media="screen">
            <!--<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="screen">-->
            <link rel="stylesheet" href="{{ asset('css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
              <script src="{{ asset('assets/js/respond.min.js') }}"></script>
            <![endif]-->             
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="page-wrapper" {% if block('leftsidebar') or block('filters') %}class="page-left-side"{% endif %} {% if block('rightsidebar') %}class="page-right-side"{% endif %}>
            <div id="header-wrapper">
                <div id="logo-title-wrapper">
                    <a href="{{ path('parroquia_home_homepage') }}">
                        <img id="logo" src="{{ asset('logo-parroquia.png') }}" width="100" height="100" alt="" />
                    </a>
                    <div id="title-wrapper">
                        <h1>Parroquia Santa Teresa de Los Andes</h1>
                        Sistema de Gestión Parroquial
                    </div>
                </div>

                {{ knp_menu_render('user', { 'depth' : 1 }) }}
                    
                {{ knp_menu_render('main', { 'depth' : 1 }) }}
                
            </div>
                
            <div id="cont-wrapper">

                {% if block('leftsidebar') or block('filters') %}
                <div id="page-side-content">
                    {% if block('leftsidebar') %}
                    <div class="page-side-list-title">{{ menu_title is defined ? menu_title : '' }}</div>
                    <div class="page-side-list">
                        {% block leftsidebar %}{% endblock %}
                    </div>
                    {% endif %}
                    {% block filters %}{% endblock %}
                </div>
                {% endif %}
                <div id="cont">
                    {% if app.session.started %}
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ flash|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                        
                    <div id="breadcrumbs">{{ knp_menu_render('breadcrumb',{'currentAsLink':false}) }}</div>
                    
                    {% block body %}{% endblock %}
                    <div class="clear"></div>
                </div>
                
                {% if block('rightsidebar') %}
                <div id="page-side-content">
                    {% if block('rightsidebar') %}
                    <div class="page-side-list-title">{{ menu_title is defined ? menu_title : '' }}</div>
                    <div class="page-side-list">
                        {% block rightsidebar %}{% endblock %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}               
            </div>

            <div id="footer-wrapper">
                <div id="footer-img">
                    <img src="{{ asset('virgen-footer.png') }}" />
                </div>
                <div id="footer-content">
                <h4>Parroquia Santa Teresa de Los Andes</h4>
            
                Av. Bernardo Larraín Cotapos 11.785 - Lo Barnechea - Región Metropolitana - Chile
                <br>                
                Teléfono 2242 4299. E-mail <a href="mailto:parroquiasantateresa@iglesia.cl">parroquiasantateresa@iglesia.cl</a>
                </div>
            </div>
        </div>
        <!-- En este orden: jquery, bootstrap, jquery-ui -->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>        
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <!--<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>-->
        <!--<script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>-->
        <script>
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd-mm-yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
            $('.date').datepicker({ 'changeYear' : true });           
        </script>
        {% block javascripts %}{% endblock %}            
    </body>
</html>