{% extends '::base.html.twig' %}

{% set menu_title = 'Comunidad' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Comunidad']) }}
{% endblock %}
           
{% block body -%}
    <div class="title-wrapper"><h1>Personas</h1></div>

    <table class="table table-hover table-condensed" id="personas_table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Rut</th>
                <th>Sexo</th>
                <th>Fecha de Nacimiento</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Estado Civil</th>
                <th>Grupos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidop }}</td>
                <td>{{ entity.apellidom }}</td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{% if entity.fechanacimiento %}{{ entity.fechanacimiento|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.estadocivil }}</td>
                <td>
                    <ul>
                    {% for grupo in entity.grupos %}
                        <li>{{ grupo }}</li>
                    {% endfor %}
                    </ul>
                </td>                 
                <td>
                <ul>
                    <li>
                        <a href="{{ path('persona_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('persona_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul style="clear:both;">
        <li>
            <a href="{{ path('persona_new') }}">
                Agregar nuevo
            </a>
        </li>
    </ul>
    {% endblock %}

{# ----Sólo en caso de usar paginación---- #
    {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/demo_table.css') }}">
    {% endblock %}
    
    {% block javascripts %}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
    $(document).ready(function(){
	$('#personas_table').dataTable({
            "oLanguage": {
                "sUrl": "{{ asset('js/dataTables.spanish.txt') }}"
            },
            "aLengthMenu": [
                        [2, 25, 50, 100, -1],
                        [2, 25, 50, 100, "Todos"]
                    ], 
            "iDisplayLength" : -1 ,
            "sPaginationType": "full_numbers"
        });
    });
    </script>
    {% endblock %}
#}