{% extends '::base.html.twig' %}

{% set menu_title = 'Comunidad' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Comunidad']) }}
{% endblock %}

{% block filters %}
<div class="filter">
    {{ render(controller('ParroquiaComunidadBundle:Persona:filter')) }}
</div>
{% endblock %}
           
{% block body -%}
    <div class="title-wrapper"><h1>Personas</h1></div>

    <div id="personas_list">
        {% include 'ParroquiaComunidadBundle:Persona:list.html.twig' with { 'entities' : entities } %}
    </div>

    <ul style="clear:both;">
        <li>
            <a href="{{ path('persona_new') }}">
                Agregar nuevo
            </a>
        </li>
    </ul>
    {% endblock %}

{# ----Sólo en caso de usar paginación---- #
    {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/demo_table.css') }}">
    {% endblock %}
    
    {% block javascripts %}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
    $(document).ready(function(){
	$('#personas_table').dataTable({
            "oLanguage": {
                "sUrl": "{{ asset('js/dataTables.spanish.txt') }}"
            },
            "aLengthMenu": [
                        [2, 25, 50, 100, -1],
                        [2, 25, 50, 100, "Todos"]
                    ], 
            "iDisplayLength" : -1 ,
            "sPaginationType": "full_numbers"
        });
    });
    </script>
    {% endblock %}
#}
    
{% block javascripts %}
    <script>
    var url_loading = "{{ asset('images/loading.gif') }}";

    $(function () {
        $('form').on('submit', function (e) {
            $("#personas_list").html('<img src="' + url_loading + '" />');
            $.ajax({
                type: 'POST',
                url: $('form').attr('action'),
                data: $('form').serialize(),
                success: function (data) {
                  $("#personas_list").empty();
                  $("#personas_list").append(data);
                }
            });
            e.preventDefault();
        });
    });
  </script>
{% endblock %}