{% extends '::base.html.twig' %}

{% set menu_title = 'Comunidad' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Comunidad']) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Persona</h1></div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellido Paterno</th>
                <td>{{ entity.apellidop }}</td>
            </tr>
            <tr>
                <th>Apellido Materno</th>
                <td>{{ entity.apellidom }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ entity.rut }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td>{% if entity.fechanacimiento %}{{ entity.fechanacimiento|date('d-m-Y') }} (Edad: {{ entity.edad }}){% endif %}</td>
            </tr>
            <tr>
                <th>Padre</th>
                <td>{{ entity.padre }}</td>
            </tr>
            <tr>
                <th>Madre</th>
                <td>{{ entity.madre }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Estado Civil</th>
                <td>{{ entity.estadocivil }}</td>
            </tr>
            <tr>
                <th>Grupos ({{ entity.grupospersonas|length }})</th>
                <td>
                    <ul>
                    {% for grupo in entity.grupos %}
                        <li>{{ grupo }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Bautizo</th>                
                <td>
                    {% if entity.bautizo is not null %}
                        <a href="{{ path('bautizo_show', { 'id' : entity.bautizo.id })}}">Ver datos</a>
                    {% else %}
                        No hay datos registrados
                    {% endif %}                        
                </td>
            </tr>
            <tr>
                <th>Confirmación</th>                
                <td>
                    {% if entity.confirmacion is not null %}
                        <a href="{{ path('confirmacion_show', { 'id' : entity.confirmacion.id })}}">Ver datos</a>
                    {% else %}
                        No hay datos registrados
                    {% endif %}                        
                </td>
            </tr>
            <tr>
                <th>Matrimonios ({{ entity.matrimoniosconyuge1|length + entity.matrimoniosconyuge2|length }})</th>                
                <td>
                    {% if entity.matrimoniosconyuge1|length != 0 or entity.matrimoniosconyuge2|length !=0 %}
                        <ul>
                        {% for matrimonio in entity.matrimoniosconyuge1 %}
                            <li><a href="{{ path('matrimonio_show', { 'id' : matrimonio.id })}}">Ver datos matrimonio con {{ matrimonio.conyuge2 }}</a></li>
                        {% endfor %}
                        {% for matrimonio in entity.matrimoniosconyuge2 %}
                            <li><a href="{{ path('matrimonio_show', { 'id' : matrimonio.id })}}">Ver datos matrimonio con {{ matrimonio.conyuge1 }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No hay matrimonios registrados
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Hijos ({{ entity.hijospadre|length + entity.hijosmadre|length }})</th>                
                <td>
                    {% if entity.hijospadre|length != 0 or entity.hijosmadre|length !=0 %}
                        <ul>
                        {% for hijo in entity.hijospadre %}
                            <li><a href="{{ path('persona_show', { 'id' : hijo.id })}}">{{ hijo }}</a></li>
                        {% endfor %}
                        {% for hijo in entity.hijosmadre %}
                            <li><a href="{{ path('persona_show', { 'id' : hijo.id })}}">{{ hijo }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No hay hijos registrados
                    {% endif %}
                </td>
            </tr>             
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('persona') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('persona_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
