{% extends '::base.html.twig' %}

{% set menu_title = 'Correo' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Correo']) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Mensaje</h1></div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha de Envío</th>
                <td>{{ entity.fechaenvio|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Emisor</th>
                <td>{{ entity.emisor }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ entity.asunto }}</td>
            </tr>            
            <tr>
                <th>Cuerpo</th>
                <td>{{ entity.cuerpo|raw }}</td>
            </tr>
            <tr>
                <th>Adjuntos ({{ entity.adjuntos|length }})</th>
                <td>
                    {% if entity.adjuntos|length > 0 %}
                        <ul>
                            {% for adjunto in entity.adjuntos %}
                                <li>
                                    <a href="{{ asset(adjunto.webPath) }}">{{ adjunto.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>            
            <tr>
                <th>Destinatarios ({{ entity.mensajesdestinatarios|length }})</th>
                <td>
                    {% if entity.mensajesdestinatarios|length > 0 %}
                        <ul class="list-unstyled">
                            {% for mensajedestinatario in entity.mensajesdestinatarios %}
                                <li>
                                    {% if mensajedestinatario.enviado == true %}
                                        <i class="icon-ok"></i>
                                    {% else %}
                                        <i class="icon-remove"></i>
                                    {% endif %}
                                    {{ mensajedestinatario.destinatario }} {% if mensajedestinatario.grupo is not empty %}(a través de grupo: {{ mensajedestinatario.grupo }}){% endif %} 
                                    {% if mensajedestinatario.enviado != true %}(No enviado: {{ mensajedestinatario.motivo }}){% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Grupos ({{ entity.mensajesgrupos|length }})</th>
                <td>
                    {% if entity.mensajesgrupos|length > 0 %}
                        <ul>
                            {% for mensajegrupo in entity.mensajesgrupos %}
                                <li>
                                    {{ mensajegrupo.grupo }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
