{% extends '::base.html.twig' %}

{% set menu_title = 'Comunidad' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Comunidad']) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Editar Grupo</h1></div>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('grupo') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

    {% block javascripts %}
    <script src="{{ asset('js/jquery.multiselect2side.js') }}"></script>
    
    <script>
    $().ready(function() {
            $('#parroquia_comunidadbundle_grupo_personas').multiselect2side({
                search : 'Buscar: ',
                labeldx : 'Seleccionados',
                moveOptions : false,
                autoSort : true,
                autoSortAvailable: true
            });
    });        
    </script>
{% endblock %}
    
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/jquery.multiselect2side.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}  