<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Parroquia Santa Teresa de Los Andes{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/screen.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-custom.css') }}" type="text/css" media="screen">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
              <script src="{{ asset('assets/js/respond.min.js') }}"></script>
            <![endif]-->             
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="height: auto;">
        <div id="page-wrapper" class="fos-user-layout">
            <div id="header-wrapper">
                <div id="logo-title-wrapper">
                    <a href="{{ path('parroquia_home_homepage') }}">
                        <img id="logo" src="{{ asset('logo-parroquia.png') }}" width="100" height="100" alt="" />
                    </a>
                    <div id="title-wrapper">
                        <h1>Parroquia Santa Teresa<br>de Los Andes</h1>
                        Sistema de Gestión Parroquial
                    </div>
                </div>                
            </div>
                
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
            </div>                
                
            <div id="cont-wrapper">
                <div id="cont">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ flash|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                                           
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        {% block javascripts %}{% endblock %}            
    </body>
</html>