{% extends '::base.html.twig' %}

{% set menu_title = 'Administración de Usuarios' %}

{% block leftsidebar %}
    {{ knp_menu_render(['user','Admin_Usuarios']) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Usuarios</h1></div>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>E-mail</th>
                <th>Último acceso</th>                
                <th>Habilitado</th>
                <th>Bloqueado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.enabled == 1 ? "SI":"NO" }}</td>                
                <td>{{ entity.locked == 1 ? "SI":"NO"}}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
            <li>
                <a href="{{ path('user_new') }}">
                    Agregar nuevo usuario
                </a>
            </li>
        </ul>
    {% endblock %}
