<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/certificado.css') }}" type="text/css" rel="stylesheet" />   
    </head>
    <body>
        <div id="header">
            <div class="left"><img id="logo" src="{{ app.request.getSchemeAndHttpHost() ~ asset('logo-parroquia-certificado.png') }}" width="100" height="100" alt="" /></div>
            <div class="right">PARROQUIA SANTA TERESA DE LOS ANDES<br/>DE LO BARNECHEA<br/>ARQUIDIÓCESIS DE SANTIAGO<br/>CHILE</div>
        </div>
        
        <div id="cont">
            <div class="title-wrapper"><h3>CERTIFICADO PARTIDA DE BAUTISMO</h3></div>

            <p>Certifico que en el Libro de Bautismo Nº {{ entity.libro }} página {{ entity.hoja }} se encuentra la siguiente partida:</p>

            <p>En la Parroquia Santa Teresita de los Andes, a {{ entity.fecha|localizeddate('none', 'none',null,null,"d 'de' MMMM 'del año' Y") }}, se bautizó a {{ entity.persona|upper }}, R.U.T. N° {{ entity.persona.rut }}.</p>
            
            <p>
            {% if entity.persona.sexo == 'M' %}
                Nacido el {{ entity.persona.fechanacimiento|localizeddate('none', 'none',null,null,"d 'de' MMMM 'del año' Y") }}, hijo de
            {% else %}
                Nacida el {{ entity.persona.fechanacimiento|localizeddate('none', 'none',null,null,"d 'de' MMMM 'del año' Y") }}, hija de
            {% endif %}
                
            {% if entity.persona.padre is not null %}
                don {{ entity.persona.padre|upper }}
            {% endif %}
            {% if entity.persona.padre is not null and entity.persona.madre is not null %}
            y de
            {% else %}
            NO-TIENE-PADRES-REGISTRADOS
            {% endif %}
            
            {% if entity.persona.madre is not null %}
                doña {{ entity.persona.madre|upper }}
            {% endif %}
                
            siendo padrinos 
            {% for tupla in entity.bautizospadrinos %}
                {{ tupla.padrino|upper }}{% if loop.index != entity.bautizospadrinos|length %}, {% endif %}
            {% endfor %}.
            </p>

            <p class="doyfe">Doy Fe</p><div class="underline"></div>

            <p>En constancia firmo y sello en Lo Barnechea el {{ fecha_emision|localizeddate('none', 'none',null,null,"d 'de' MMMM 'del año' Y") }}.</p>
        </div>
            
        <div id="footer">
            <div class="left">SELLO PARROQUIAL</div>
            <div class="right">PÁRROCO</div>         
        </div>
    </body>
</html>