{% extends 'ParroquiaCertificadoBundle::sacramento_edit.html.twig' %}

{% set nombre_sacramento = 'Bautizo' %}
{% set path_sacramento = 'bautizo' %}

{% block personas %}
    {{ form_row(edit_form.persona) }}
{% endblock %}

{% block collections %}
        <div>
            <label>Padrinos</label>
            <ul class="padrinos" data-prototype="{{ form_widget(edit_form.bautizos_padrinos.vars.prototype)|e }}">                
                {% for padrino in edit_form.bautizos_padrinos %}
                    <li>{{ form_row(padrino.padrino) }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <div>
            <label>Celebrantes</label>
            <ul class="celebrantes" data-prototype="{{ form_widget(edit_form.bautizos_celebrantes.vars.prototype)|e }}">                
                {% for celebrante in edit_form.bautizos_celebrantes %}
                    <li>{{ form_row(celebrante.celebrante) }}</li>
                {% endfor %}
            </ul>
        </div>    

        <div>
            <label>Catequistas</label>
            <ul class="catequistas" data-prototype="{{ form_widget(edit_form.bautizos_catequistas.vars.prototype)|e }}">                
                {% for catequista in edit_form.bautizos_catequistas %}
                    <li>{{ form_row(catequista.catequista) }}</li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}