{% extends '::base.html.twig' %}

{% set menu_title = 'Calendario' %}

{% block leftsidebar %}
    {{ knp_menu_render(['main','Calendario'],{ 'depth' : 1 }) }}
{% endblock %}

{% block body -%}
    <div class="title-wrapper"><h1>Editar Evento</h1></div>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.nombre) }}
    {{ form_row(edit_form.inicio) }}
    {{ form_row(edit_form.termino) }}
    {{ form_row(edit_form.todo_el_dia) }}
    {{ form_row(edit_form.lugar) }}
    {{ form_row(edit_form.descripcion) }}
    {{ form_row(edit_form.liturgico) }}

    <div class="collection">
        <label>Archivos</label>
        <ul class="archivos" data-prototype="{{ form_widget(edit_form.archivos.vars.prototype,{'attr':{'class':'file-container'}})|e }}">                
            {% for archivo in edit_form.archivos %}
                <li>
                    <div class="file-container">
                        {% if archivo.vars.value and archivo.vars.value.path != 'initial' %}
                        <div>
                            <a href="{{ asset(archivo.vars.value.webPath) }}">{{ archivo.vars.value.name }}</a>
                            {{ form_label(archivo) }}
                            {{ form_errors(archivo) }}
                            {{ form_widget(archivo, { 'attr' : { 'class' : 'collapse' } } ) }}
                        </div>
                        {% else %}
                        {{ form_row(archivo) }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="collection">
        <label>Imágenes</label>
        <ul class="imagenes" data-prototype="{{ form_widget(edit_form.imagenes.vars.prototype,{'attr':{'class':'file-container'}})|e }}">              
            {% for archivo in edit_form.imagenes %}
                <li>
                    <div class="file-container">
                        {% if archivo.vars.value and archivo.vars.value.path != 'initial' %}
                        <div>
                            <a href="{{ asset(archivo.vars.value.webPath) }}">{{ archivo.vars.value.name }}</a>
                            {{ form_label(archivo) }}
                            {{ form_errors(archivo) }}
                            {{ form_widget(archivo, { 'attr' : { 'class' : 'collapse' } } ) }}
                        </div>
                        {% else %}
                        {{ form_row(archivo) }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>    

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('evento') }}">
                Volver a la lista
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/ui-lightness/jquery-ui.parroquia.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}"></script>
<script>
    $.timepicker.regional['es'] = {
            timeOnlyTitle: 'Elegir una hora',
            timeText: 'Hora',
            hourText: 'Horas',
            minuteText: 'Minutos',
            secondText: 'Segundos',
            millisecText: 'Milisegundos',
            timezoneText: 'Huso horario',
            currentText: 'Ahora',
            closeText: 'Listo',
            timeFormat: 'HH:mm',
            amNames: ['a.m.', 'AM', 'A'],
            pmNames: ['p.m.', 'PM', 'P'],
            ampm: false
    };
    $.timepicker.setDefaults($.timepicker.regional['es']);

    $(".datetime").datetimepicker({ 'changeYear' : true });
</script>

<script>
        jQuery(document).ready(function() {
            var $collectionHolder;
            var $list = ['archivos','imagenes'];
            $.each($list,function(i, val){
    
                $collectionHolder = $('ul.' + val);

                if($collectionHolder){
                    // setup an "add an item" link
                    var $addItemLink = $('<a href="#" class="'+val+' add_item_link">+</a>');
                    var $newLinkLi = $('<li class="actions"></li>').append($addItemLink);

                    // add a delete link to all of the existing item form li elements
                    $collectionHolder.find('li').each(function() {                        
                        addItemFormDeleteLink($(this));
                    });            

                    // add the "add an item" anchor and li to the items ul
                    $collectionHolder.append($newLinkLi);

                    // count the current form inputs we have (e.g. 2), use that as the new
                    // index when inserting a new item (e.g. 2)
                    $collectionHolder.data('index', $collectionHolder.find(':input').length);

                    $addItemLink.on('click', function(e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // add a new item form (see next code block)
                        addItemForm(val, $newLinkLi);
                    });          
                }
            });
            
        });  
        
        function addItemForm(val, $newLinkLi) {
            $collectionHolder = $('ul.' + val);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add an item" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            
            // add a delete link to the new form
            addItemFormDeleteLink($newFormLi);            
        }
        
        function addItemFormDeleteLink($itemFormLi) {
            var $removeFormA = $('<div class="text-right"><button type="button" class="close">&times;</button></div>');
            $itemFormLi.children().last().children().last().append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the item form
                $itemFormLi.remove();
            });
        }        
</script>
{% endblock %}