{% extends 'ParroquiaCertificadoBundle::sacramento_new.html.twig' %}

{% set nombre_sacramento = 'Confirmación' %}
{% set path_sacramento = 'confirmacion' %}

{% block personas %}
    {{ form_row(form.persona) }}
{% endblock %}

{% block collections %}
        <div class="collection">
            <label>Padrinos</label>
            <ul class="padrinos" data-prototype="{{ form_widget(form.confirmaciones_padrinos.vars.prototype)|e }}">                
                {% for padrino in form.confirmaciones_padrinos %}
                    <li><div>{{ form_row(padrino.padrino) }}</div></li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="collection">
            <label>Celebrantes</label>
            <ul class="celebrantes" data-prototype="{{ form_widget(form.confirmaciones_celebrantes.vars.prototype)|e }}">                
                {% for celebrante in form.confirmaciones_celebrantes %}
                    <li><div>{{ form_row(celebrante.celebrante) }}</div></li>
                {% endfor %}
            </ul>
        </div>    

        <div class="collection">
            <label>Catequistas</label>
            <ul class="catequistas" data-prototype="{{ form_widget(form.confirmaciones_catequistas.vars.prototype)|e }}">                
                {% for catequista in form.confirmaciones_catequistas %}
                    <li><div>{{ form_row(catequista.catequista) }}</div></li>
                {% endfor %}
            </ul>
        </div>    
{% endblock %}